.custom-toast {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.Toastify__close-button {
    color: #fff; /* 기본 X 버튼 색상 */
    opacity: 0.7; /* 기본 투명도 */
  }
  
  .Toastify__close-button:hover,
  .Toastify__close-button:focus {
    color: #f44336; /* 호버나 포커스 시 색상 */
    opacity: 1;
  }