.volume-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.volume-container {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 8.5rem;

    width: 2rem;
    height: 6rem;

    background: rgba(0, 0, 0, 0.6);
    
    border-radius: 0.8rem;

    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.6);
    
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    z-index: 5;
  }

  .volume-level {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
  }
  
  .volume-slider {
    -webkit-appearance: none;
    display: flex;
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    transform: rotate(-90deg);
    opacity: 0;

    z-index: 100;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .volume-slider::-moz-range-thumb {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .volume-icon {
    position: absolute;
    bottom: 0.8rem;
    left: 0.5rem;
    color: #00aaff;
    font-size: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;

    z-index: 20;
  }
  